{
    "my_custom_ender3": {
        "z_clearance": 0.25,
        "press_fit": 0.04,
        "slip_fit": 0.05,
        "free_fit": 0.15
    },
    "my_saturn_resin": {
        "z_clearance": 0.05,
        "press_fit": 0.02,
        "slip_fit": 0.03,
        "free_fit": 0.05
    }
}
